<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">

<head>
 	<meta charset="UTF-8">
 	<link rel="stylesheet" href="/css/jjh/adminPage.css">
</head>

<th:block layout:fragment="content">
	<div class="row">
      <h3 class="title">관리자 페이지</h3>
	  <!-- 각 화면의 네비게이션 탭 시작 부분 -->
		<div class="col-4">
			<div class="list-group" id="list-tab" role="tablist">
				<!-- 일반 회원 관리탭 -->
				<a class="list-group-item list-group-item-action"
					id="list-user-list" data-bs-toggle="list"
					role="tab" aria-controls="list-user"
					th:onclick="|location.href='@{/admin/adminPage-userlist}'|">
					일반회원
				</a> 
				
				<!-- 사업자 회원 관리탭 -->
				<a class="list-group-item list-group-item-action"
					id="list-biz-list" data-bs-toggle="list"
					role="tab" aria-controls="list-biz" 
					th:onclick="|location.href='@{/admin/adminPage-accomlist}'|">
					사업자 회원
				</a> 
					
				<!-- QnA 전체 관리탭 -->
				<a class="list-group-item list-group-item-action"
					id="list-QnA-list" data-bs-toggle="list"
					role="tab" aria-controls="list-QnA"
					th:onclick="|location.href='@{/admin/adminPage-qnalist}'|">
					게시판 전체
				</a>
				
				<!-- QnA 답변 저장 탭 -->
				<a class="list-group-item list-group-item-action"
					id="list-QnARe-list" data-bs-toggle="list"
					role="tab" aria-controls="list-QnARe"
					th:onclick="|location.href='@{/admin/adminPage-qnaRelist}'|">
					게시판 답변
				</a>
				
				<!-- Review 전체 관리탭 -->
				<a class="list-group-item list-group-item-action"
					id="list-review-list" data-bs-toggle="list"
					role="tab" aria-controls="list-review"
					th:onclick="|location.href='@{/admin/adminPage-reviewlist}'|">
					리뷰 전체
				</a>
				
				<!-- Review 삭제 탭 -->
				<a class="list-group-item list-group-item-action"
					id="list-reviewDel-list" data-bs-toggle="list"
					role="tab" aria-controls="list-reviewDel"
					th:onclick="|location.href='@{/admin/adminPage-reviewDellist}'|">
					리뷰 삭제
				</a>
				
			</div>
		</div>
		
		<!-- 각 탭을 클릭하면 나오는 표 시작 부분 -->
		
	</div>
</th:block>
</html>
