<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">

<head>
 	<meta charset="UTF-8">
 	<link rel="stylesheet" href="/css/jjh/adminPage.css">
</head>

<th:block layout:fragment="content">
	<div class="row">
		<h3 class="title">관리자 페이지 - 리뷰 관리</h3>
	  <!-- 각 화면의 네비게이션 탭 시작 부분 -->
		<div class="col-4">
			<div class="list-group" id="list-tab" role="tablist">
				<!-- 일반 회원 관리탭 -->
				<a class="list-group-item list-group-item-action"
					id="list-user-list" data-bs-toggle="list"
					role="tab" aria-controls="list-user"
					th:onclick="|location.href='@{/admin/adminPage-userlist}'|">
					일반회원 
				</a> 
				
				<!-- 사업자 회원 관리탭 -->
				<a class="list-group-item list-group-item-action"
					id="list-biz-list" data-bs-toggle="list"
					role="tab" aria-controls="list-biz" 
					th:onclick="|location.href='@{/admin/adminPage-accomlist}'|">
					사업자 회원
				</a> 
					
				<!-- QnA 전체 관리탭 -->
				<a class="list-group-item list-group-item-action"
					id="list-QnA-list" data-bs-toggle="list"
					role="tab" aria-controls="list-QnA"
				   	th:onclick="|location.href='@{/admin/adminPage-qnalist}'|">
					게시판 전체
				</a>
				
				<!-- QnA 답변 저장 탭 -->
				<a class="list-group-item list-group-item-action"
					id="list-QnARe-list" data-bs-toggle="list"
					role="tab" aria-controls="list-QnARe"
					th:onclick="|location.href='@{/admin/adminPage-qnaRelist}'|">
					게시판 답변
				</a>
				
				<!-- Review 전체 관리탭 -->
				<a class="list-group-item list-group-item-action"
					id="list-review-list" data-bs-toggle="list"
					role="tab" aria-controls="list-review"
					th:onclick="|location.href='@{/admin/adminPage-reviewlist}'|">
					리뷰 전체
				</a>
				
				<!-- Review 삭제 탭 -->
				<a class="list-group-item list-group-item-action active"
					id="list-reviewDel-list" data-bs-toggle="list"
					role="tab" aria-controls="list-reviewDel">
					리뷰 삭제
				</a>
				
			</div>
		</div>
		
		<!-- 각 탭을 클릭하면 나오는 표 시작 부분 -->
		<div class="col-10">
			<div class="tab-content table-responsive" id="nav-tabContent">
					           
			
				<!-- review 테이블 헤더와 내용 -->
					<table class="table align-middle">
						<thead>
							<tr>
								<th scope="col">번호</th>
								<th scope="col">삭제 신청 날짜</th>
								<th scope="col">사업자 ID</th>
								<th scope="col">리뷰 내용</th>
								<th scope="col">삭제요청</th>
							</tr>
						</thead>
						<tbody>
						<!-- listReview를 이용해 리뷰 정보 출력 -->
							<tr th:each="r, status : ${reviewDellist}">
					           <th scope="row" th:text="${r.rn}"></th>
					           <!-- <td th:text="${#dates.format(r.del_date, 'yyyy-MM-dd')}"></td> -->
					           <td th:text="${r.del_date}"></td>
					           <td th:text="${r.biz_id}"></td>
					           <td th:text="${r.review_content}"></td>
					           <td>
					           		<button type="button" class="detail" data-bs-toggle="modal" th:attr="data-bs-target='#staticBackdrop'+${status.index}">
					           			내용 확인
					           		</button>
					           </td>
					         </tr>
						</tbody>
					</table>
				
				<!-- Modal -->
				<div class="modal fade" th:id="'staticBackdrop'+${status.index}" data-bs-backdrop="static" data-bs-keyboard="false" 
					 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" th:each="r, status : ${reviewDellist}">
				  <div class="modal-dialog modal-lg">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h1 class="modal-title fs-5" id="staticBackdropLabel">리뷰 삭제 요청 사유</h1>
				        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				      </div>
				      
				      <div class="modal-body">
				        <label for="staticBizID" class="col-sm-6 col-form-label">
				        	※ 사업자등록번호
				        	<input type="text" readonly class="form-control-plaintext" id="staticBizID" 
					      		 th:value="${r.biz_id}">
				        </label>

				        <label for="staticDelDate" class="col-sm-6 col-form-label">
				        	※ 요청 날짜
				        	<input type="text" readonly class="form-control-plaintext" id="staticDelDate" 
					      		 th:value="${r.del_date}">
				        </label>
					    
				        <label for="staticDelReason" class="col-lg-12 col-form-label">
				        	※ 요청 사유
				        	<input type="text" readonly class="form-control-plaintext"
					      			id="staticDelReason" th:value="${r.del_reason}">
				        </label>
				      </div>
				      
				      <div class="modal-footer">
				        <form action="/admin/rejectDelReview" method="post">
							<input type="hidden" name="pay_id" th:value="${r.pay_id}">
							<button type="submit" class="btn btn-secondary">반려</button>
						</form>
				        <form action="/admin/delReviewImg" method="post">
							<input type="hidden" name="pay_id" th:value="${r.pay_id}">
							<button type="submit" class="btn btn-primary">삭제</button>
						</form>
				      </div>
				    </div>
				  </div>
				</div>
					
					<!-- 페이징 작업 -->
					<div class="paging">
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-center">
								<li class="page-item disabled"
									th:if="${page.startPage - page.pageBlock >= 1}">
									<a class="page-link"
									   th:href="'/adminPage-reviewDellist?currentPage=' + ${page.startPage - page.pageBlock}">
										<span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Previous</span>
									</a>
								</li>
								<li class="page-item"
									th:each="i: ${#numbers.sequence(page.startPage, page.endPage)}">
									<a class="page-link" th:href="'/adminPage-reviewDellist?currentPage=' + ${i}"
										th:text="${i}" th:class="${i == page.currentPage ? 'active' : ''}">
									</a>
								</li>
								<li class="page-item"
									th:if="${page.endPage + page.pageBlock <= page.totalPage}">
									<a class="page-link"
									   th:href="'/adminPage-reviewDel?currentPage=' + ${page.startPage + page.pageBlock}">
										<span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				
					
			</div>
		</div>
	</div>
</th:block>
</html>
