@charset "UTF-8";

	.container {
		max-width: 957px;
		margin: 0 auto;
	}
	
	.section {
		margin: 15px 0 30px;
	}
	
	#carouselExampleFade{
		display: inline-block;
		width: 586px;
		height: 439px;
	}
	
	.carousel-inner{
		display: inline-block;
		width: 586px;
		height: 439px;
	}
	
	.carousel-inner img{
		width: 586px;
		height: 439px;
	}
	
	.aside{
		display: inline-block;
		float: right;
	}
	
	.accomBizname, .accomAddr {
		max-width: 307px;
	}
	
	.accomBizname h2{
		font-size: 24px;
		font-weight: bold;
	}
	
	.accomAddr p{
		color: gray;
		height: 40px;
		margin: 10px 0 0 0;
	}
	
	#myTab{
		margin-bottom: 10px;
	}
	
	.calendar-icon{
		cursor: default;
	}
	
	.date-icon{
		display: inline-block;
		padding-top: 8px;
	}
	
	.nav-link{
		color: darkgray;
	}
	
	.nav-link:hover, .nav-link:active, .nav-link:focus{
		color: black;
	}
	
	.nav-item .active , 
	.nav-tabs .nav-link.active {
		color: rgb(0, 183, 247);
		font-weight: bold;
	}
	
	.roomListContent p {
		font-weight: bold;
	}
	
	.roomListContent h2 {
		margin-bottom: 81px;
	}
	
	.roomListContent{
		display: inline-block;
		position: absolute;
		width: 67%;
		top: 3%;
		left: 36%;
	}
	
	.roomListReserveBtn{
		width: 92%;
		color: white;
		border: none;
		font-size: 16px;
		height: 40px;
		background-color: rgb(0, 183, 247);
		border-radius: 3px;
	}
	
	.roomListImg{
		width: 320px;
		height: 240px;
		display: inline-block;
	}
	
	.roomListImg img{
		width: 300px;
		height: 220px;
		margin: 10px;
	}
	
	.roomList {
		width: 100%;
		position: relative;
		margin-bottom: 3%;
		border: 1px solid #EBEBEB;
	}
	
	#dateRange {
		width: 230px;
		padding-left: 4px;
		border: none;
		cursor: default;
		outline: none;
  		font-size: 18px;
  		margin: 10px 0px 10px;
	}
	
	@media(max-width: 992px){
		.container {
			max-width: none;
	 		margin: 0 auto;
		}
		
		#carouselExampleFade {
			display: block;
			width: 100%;
			height: auto;
			margin: 0;
			position: relative;
		}
		
		 .carousel-inner{
			display: block;
			width: 100%;
			height: auto;
			margin: 0;
			position: relative;
		}
		
		.carousel-item {
			position: relative;
		}
		
		.carousel-item:before {
			content: "";
			display: block;
			padding-top: 75%; /* 가로100에 세로75 비율 */
		}
		
		.carousel-inner img{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
		}
		
		.aside{
			display: block;
			margin-top: 20px;
			float: none;
		}
		
		.nav {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
		}
		
		.nav-item{
			width: 33.3%;
			text-align: center;
		}
		
		.nav-tabs .nav-link{
			width: 100%;
		}
		
		.date-icon{
			width: 100%;
			display: block;
			position: relative;
		}
		
		.calendar-icon{
			position: absolute;
			cursor: default;
			top: 45%;
			left: 1%;
		}
		
		#dateRange {
			display: block;
			width: 100%;
			padding: 10px 0px 10px 40px;
			border-top: 1px solid lightgray;
			border-bottom: 1px solid lightgray;
			cursor: pointer;
			outline: none;
	   		font-size: 18px;
	   		margin: 10px 0px 10px;
		}
		
		.roomList {
			width: 100%;
			position: relative;
			height: auto;
			margin-bottom: 5%;
			padding: 5px;
			border: none;
			border: 1px solid lightgray;
		}
		
		.roomListImg {
			display: block;
			width: 100%;
			height: auto;
			margin: 0;
			position: relative;
		}
		
		.roomListImg img{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
		}
		
		.roomListImg:before {
		  content: "";
		  display: block;
		  padding-top: 75%; /* 가로100에 세로75 비율 */
		}
		
		.roomListContent h2 {
			margin: 10px 0 30px;
		}
		
		.roomListContent{
			display: contents;
			width: 100%;
		}
		
		.roomListReserveBtn{
			width: 100%;
			color: white;
			border: none;
			font-size: 16px;
			height: 40px;
			background-color: rgb(0, 183, 247);
			border-radius: 3px;
		}
	}
	
	ul, ol {
		padding-left: 1px;
	}
	
	.accomBasicInfo ul{
		list-style: none;
		margin-bottom: 20px;
	}
	
	.accomBasicInfo .subTitle{
		color: rgb(0, 183, 247);
		font-weight: bold;
		margin-bottom: 5px;
	}
	
	.accomBasicInfo .intro {
		width: 590px;
		word-wrap: break-word;
	}
	
	.accomReview {
		border-bottom: 1px solid lightgray;
		margin-bottom: 10px;
	}
	
	.calculateReview {
		border-bottom: 2px solid lightgray;
		margin-bottom: 10px;
	}
	
	.calculateReview img {
		padding-bottom: 25px;
	}
	
	.accomReviewRoomImg{
		display: inline-block;
		white-space:nowrap;
		overflow:auto;
	}
	
	.accomReviewRoomImg img{
		width: 200px;
		height: 200px;
		padding: 0.25rem;
	}
	
	.avgReview{
		font-size: 40px;
	}
	
	.accomReviewRating{
		margin-bottom: 5px;
	}
	
	.accomReviewRating img{
		width: 20px;
	}
	
	#map {
	  	height: 400px; /* The height is 400 pixels */
		width: 100%; /* The width is the width of the web page */
	}