	/* 스크롤기능 유지, 감추기 */
	html::-webkit-scrollbar {
	  display: none;
	}
	
	.container {
		max-width: 95%;
		display: flex;
	}
	
	.sidenav {
		width: 200px;
		background: white;
		padding: 8px 0;
		display: inline-block;
	}
	
	.sidenav a {
		padding: 13px 8px 6px 16px;
		text-decoration: none;
		font-size: 20px;
		color: #2196F3;
		display: block;
		font-weight: bold;
	}
	
	.sidenav a:hover {
		color: #064579;
	}
	
	.no-content img {
		max-width: 45%;
	}
	
	.no-content p {
		color: rgb(0, 183, 247);
		font-weight: bold;
		margin: 30px 0;
	}
	
	.no-content a {
		color: red;
	}
	
	#myQna {
		display: block;
		text-align: center;
	}
	
	.main button.qna, .main button.complaint {
		background-color: white;
		border: none;
		box-shadow: 0px 0px 10px lightgray;
		color: darkgray;
		margin: 10px 0;
		padding: 8px 8%;
	}
	
	.main button:hover {
		color: rgb(0, 183, 247);
	}
	
	.main button:focus {
		color: rgb(0, 183, 247);
		font-weight: bold;
	}
	
	.main {
		text-align: center;
		width: 65%;
		margin: 0 auto;
	}
	
	.main .qna {
		border-radius: 15px 0 0 15px;
	}
	
	.main .complaint {
		border-radius: 0 15px 15px 0;
	}
	
	
	
	.qnaList {
		text-align: left;
		padding: 10px 15px;
		border: 1px solid darkgray;
		width: 100%;
		position: relative;
		border-radius:10px;
		margin: 20px 0;
		cursor: pointer;
	}
	
	qnaListTitle h2 , .qnaListContent p{
		resize: none;
		width: 87%;
	}
	
	.qnaListTitle h2{
		font-size: 18px;
		white-space: nowrap; /* 한줄유지 */
		overflow: hidden;
		text-overflow: ellipsis; /* 말줄임표 */
		width: 87%;
	}
	
	
	
	.qnaListDate, .qnaReListDate {
		text-align:right;
		color: gray;
	}
	
	.qnaReReply, .qnaReNoReply {
		font-size: 14px;
		font-weight: bold;
		position: absolute;
		top: 15px;
		right: 15px;
	}
	
	.qnaReReply {
		color: rgb(0, 183, 247);
	}
	
	.qnaReListContent span, .qnaReNoReply {
		color: red;
	}
	
	@media(max-width: 992px){
		.container {
			display: block;
		}
	
		.sidenav {
			width: 100%;
			display: flex;
			justify-content: center;
			margin-bottom: 20px;
			text-align: center;
		}
		
		.main{
			text-align: center;
			min-width: 100%;
			margin: 0 auto;
		}
		
		.sidenav a{
			font-size: 18px;
			padding: 14px;
		}
		
		.qnaListTitle h2 {
			white-space: nowrap; /* 한줄유지 */
			overflow: hidden;
			text-overflow: ellipsis; /* 말줄임표 */
			width: 76%;
		}
		
		.qnaListTitle h2 , .qnaListContent p{
			resize: none;
			width: 76%;
		} 
		
		.no-content img {
			max-width: 55%;
		}
		
		.main button.qna, .main button.complaint{
			padding: 8px 13%;
		}
	}
	
	@media(max-width: 411px){
		.sidenav a{
			font-size: 16px;
			padding: 10px; 
		}
	}
	
