<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
  <footer style="clear: left; clear: right;">
  <hr/>
    <div class="mt-5" style="float: inherit;">
      <div class="text-center" >
        <p>
          <small class="text-muted" style="margin: 50px;">문의 및 고객센터 저작권 안내</small>
        </p>
        <h5 style="margin: 50px; text-align: left; font-style: !important;" >(주)SukBak <br> 해당 페이지 내의 모든 저작원은 저희가 가지고 있습니다.</h5>
        <h1></h1>
        <h6 style="margin: 50px; text-align: left;" >고객센터 010-2624-5448</h6>
      </div>
    </div>
 </footer>
</th:block>
</html>