server:
  port: 8308

#upload Test
#upload:
#  path: /path/to/upload/directory

spring:
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML5

#file size
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
           
# oracle connect
  datasource:
    url: jdbc:oracle:thin:@localhost:1521/xe
    username: S20230403
    password: tiger
    driver-class-name: oracle.jdbc.driver.OracleDriver
  

# gmail transfer
  mail:
    host: smtp.gmail.com
    port: 587
    username: sukbak0401@gmail.com
    password: gzvxljoyvmmvsccb
    properties:
      mail:
        smtp:
          auth: true
          starttls.enable: true


# Oauth2 Setting
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 1088203120879-nbf03n5d2bo33nre0s1oiib45uqpkv39.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
              - profile

# MyBatis, classpath = resource폴더임.
mybatis:
  config-location: classpath:configuration.xml
  mapper-locations: classpath:mappers/**/*.xml

  
file:
  dir: C:\Users\admin\git\S20230403\bin\main\static\img\review\
  
file-room:
  dir: C:\Users\admin\git\S20230403\bin\main\static\img\room\

  

