<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
	<div style="max-width: 800px; text-align: center; margin: 0 auto;"
		class="tab-pane fade show active" id="list-home" role="tabpanel"
		aria-labelledby="list-home-list">
		<div class="accordion" id="accordionPanelsStayOpenExample"
			th:each="searchAc :${searchAc}">
			<div class="accordion-item">
				<h2 class="accordion-header"
					th:id="panelsStayOpen-headingOne+${searchAc.biz_id}">
					<button class="accordion-button" type="button"
						data-bs-toggle="collapse"
						th:attr="data-bs-target=|#panelsStayOpen-collapseOne${searchAc.biz_id}"
						aria-expanded="true" th:aria-controls="panelsStayOpen-collapseOne"
						th:text="${searchAc.biz_name}"
						style="white-space: normal; word-break: break-word;"></button>
				</h2>
				<button
					th:attr="onclick=|location.href='accomDetail?biz_id=${searchAc.biz_id}&checkIn=&checkOut= '|"
					style="border: 0; width: auto; margin: 0 auto; background-color: white;"
					th:id="panelsStayOpen-collapseOne+${searchAc.biz_id}"
					class="accordion-collapse collapse show"
					th:aria-labelledby="panelsStayOpen-headingOne+${searchAc.biz_id}">
					<div class="accordion-body"
						th:classappend="| card-${searchAc.biz_id}" style="display: flex;">
						<div class="card" style="width: 18rem; ">
							<img th:src="@{${searchAc.r_img}}"
								class="card-img-top" alt="..." style="border: none; max-height: 160px;">
							<div class="card-body" style="border: 0;"></div>
						</div>
						<div
							style="min-width:270px; margin-left: 1rem; display: flex; flex-direction: column; justify-content: center;">
							<div style="text-align: center;">
								주소: <strong><a th:text="${searchAc.addr}"></a></strong><br>
							</div>
							<div style="text-align: center;">
								세부정보: <a th:text="${searchAc.description}"></a>
							</div>
						</div>
					</div>
				</button>
			</div>
		</div>
	</div>


	
</html>