<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">
<th:block layout:fragment="content">
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
        <style type="text/css">
            .image {
                position: relative;
            }

            .image .text {
                position: absolute;
                top: 10px;
                left: 10px;
                color: #FFF;
            }

            img {
                width: auto;
                height: 430px;
                object-fit: contain;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.6.2.min.js"></script>
        <script>
            $(function() {
                var message = /*[[${message}]]*/ null;
                if (message) {
                    alert(message);
                }
            });
        </script>
    </head>
    <body>
    <!-- <h1  th:text="${#authentication.name}"></h1> -->

    <div id="carouselExampleControls" class="carousel slide"
         data-bs-ride="carousel">
        <button class="carousel-inner" style="border: none;">
            <div class="carousel-item active">
                <a href=""> <img src="img/banner1.jpg" class="d-block w-100"
                                      alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href=""> <img src="/img/banner2.jpg"
                                      class="d-block w-100" alt="..."></a>
            </div>
            <div class="carousel-item">
                <a href=""> <img src="/img/banner3.jpg" class="d-block w-100"
                                       alt="..."></a>
            </div>
        </button>
        <button class="carousel-control-prev" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <hr/>
       <div style="display: flex; flex-wrap: wrap; justify-content: center; max-width: 100%;">
    <a href="/cgProductLists?accom-type=520" class="image"><img alt="" src="/img/menuIcon_motel.png" style="filter: brightness(70%); border-radius: 3px; box-shadow: 5px 5px 5px #999; margin: 10px; width: 150px; height: 150px;"></a>
    <a href="/cgProductLists?accom-type=511,513,514,515"><img alt="" src="/img/menuIcon_hotel.png" style="filter: brightness(70%); border-radius: 3px; box-shadow: 5px 5px 5px #999; margin: 10px; width: 150px; height: 150px;"></a>
    <a href="/cgProductLists?accom-type=540"><img alt="" src="/img/menuIcon_pension.png" style="filter: brightness(70%); border-radius: 3px; box-shadow: 5px 5px 5px #999; margin: 10px; width: 150px; height: 150px;"></a>
    <a href="/cgProductLists?accom-type=530"><img alt="" src="/img/menuIcon_geha.png" style="filter: brightness(70%); border-radius: 3px; box-shadow: 5px 5px 5px #999; margin: 10px; width: 150px; height: 150px;"></a>
</div>

		<hr>

        <h5 style="text-align: center;">SukBak 이벤트!</h5>
    </div>
    <br>
    <br>
 		<style>
.card-deck {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	margin: 0 auto;
	max-width: 860px;
}

.card {
	width: 100%;
	max-width: 400px;
	margin: auto;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.card-img-top {
	object-fit: cover;
	height: 200px;
}
</style>

		<div class="card-deck">
			<div class="card">
				<img src="/img/광고.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">sukbak 소식.</h5>
					<p class="card-text">저희 숙박은 100% 유료입니다.</p>
					<a href="noti?note_id=2" class="btn btn-primary stretched-link">소식 바로보기</a>
				</div>
			</div>
			<div class="card">
				<img src="/img/이벤트.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">sukbak 이벤트</h5>
					<p class="card-text">200% 이벤트 지금당장 참여하세요</p>
					<a href="noti?note_id=2" class="btn btn-primary stretched-link">이벤트 바로보기</a>
				</div>
			</div>
		</div>
		
	</body>
    </body>
</th:block>
</html>