<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<script type="text/javascript">
	function goBack() {
		location.href = "bizMain"
	}
	
	function actAlert() {
		alert("업체 수정 페이지로 이동합니다")
	}
</script>
<body>
	<th:block layout:fragment="content">
	<form action="/biz/accomUpdateForm" method="POST" name="frm">
		<h4>내 업체 확인</h4><br><br>
			<div class="mb-3 row">
			    <label for="user_id" class="col-sm-2 col-form-label">Email</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control-plaintext" id="user_id" name="user_id" th:value="${accom.user_id}">
			    </div>
			 </div>
			 <div class="mb-3 row">
			    <label for="biz_id" class="col-sm-2 col-form-label">사업자등록번호</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control-plaintext" id="biz_id" name="biz_id" th:value="${accom.biz_id}">
			    </div>
			 </div>
			 <div class="mb-3 row">
			    <label for="biz_name" class="col-sm-2 col-form-label">업체명</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control-plaintext" id="biz_name" name="biz_name" th:value="${accom.biz_name}">
			    </div>
			 </div>
			 <div class="mb-3 row">
			    <label for="accom_type" class="col-sm-2 col-form-label">업체 유형</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control-plaintext" id="accom_type" name="accom_type" th:value="${accom.accom_type}">
			    </div>
			 </div>
			 <div class="mb-3 row">
			    <label for="addr" class="col-sm-2 col-form-label">업체 상세주소</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control-plaintext" id="addr" name="addr" th:value="${accom.addr}">
			    </div>
			 </div>
			 <div class="mb-3 row">
			    <label for="room_count" class="col-sm-2 col-form-label">등록 객실 수</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control-plaintext" id="room_count" name="room_count" th:value="${accom.room_count}">
			    </div>
			 </div>
			 <div class="mb-3 row">
			    <label for="tel" class="col-sm-2 col-form-label">업체 대표 전화번호</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control-plaintext" id="tel" name="tel" th:value="${accom.tel}">
			    </div>
			 </div>

			  <div class="form-check">
			  	  <h6>부대시설 확인</h6>
			  	  <label for="pool">수영장</label>
				  <input type="text" readonly name="pool" id="pool" th:value="${accom.pool}"><br>
				  <label for="parking">주차시설</label>
				  <input type="text" readonly name="parking" id="parking" th:value="${accom.parking}"><br>
				  <label for="cafe">카페</label>
				  <input type="text" readonly name="cafe" id="cafe" th:value="${accom.cafe}"><br>
				  <label for="restaurant">레스토랑</label>
				  <input type="text" readonly name="restaurant" id="restaurant" th:value="${accom.restaurant}"><br>
				  <label for="store">편의점</label>
				  <input type="text" readonly name="store" id="store" th:value="${accom.store}"><br>
				  <label for="sauna">사우나</label>
				  <input type="text" readonly name="sauna" id="sauna" th:value="${accom.sauna}"><br>
				  <label for="laundry">라운더리</label>
				  <input type="text" readonly name="laundry" id="laundry" th:value="${accom.laundry}"><br>
				  <label for="fitness">헬스장</label>
				  <input type="text" readonly name="fitness" id="fitness" th:value="${accom.fitness}"><br>
			   </div>
			   <br>
			   <div class="mb-3 row">
				    <h6><b>업체 소개</b></h6>
				    <br>
				    <div class="col-sm-10">
				      <textarea class="form-control-plaintext" rows="10" readonly id="description" name="description" th:text="${accom.description}" th:value="${accom.description}"></textarea>
				    </div>
			   </div>
				<button type="submit" value="수정" onclick="actAlert()">수정</button>
		</form>
		<button onclick="goBack()" value="뒤로가기">뒤로가기</button>
	</th:block>
</body>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
</html>