<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<head>
	<link rel="stylesheet" href="/css/lcg/bizMain.css">
	<style type="text/css">
	#biz_id{
		border: none;
		text-align: center;
	}
	</style>
</head>
<body>
<script th:inline="javascript">
</script>
	</th:block>
	<div class="container">
		<div class="accordion accordion-flush" id="accordionFlushExample" style="width: 200px">
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="flush-headingOne">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
			        	업체 및 객실관리
			      </button>
			    </h2>
			    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
			      <div class="accordion-body">
						<a href="/biz/bizMain">업체관리</a><br>
						<a href="/biz/rooms" >객실관리</a><br>
				  </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="flush-headingTwo">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
			        	리뷰 및 예약관리
			      </button>
			    </h2>
			    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
			      <div class="accordion-body">
			       		<a href="/biz/review">리뷰관리</a><br>
			       		예약관리<br>
				  </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="flush-headingThree">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
			        	계정관리
			      </button>
			    </h2>
			    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
			      <div class="accordion-body">
			      	<form action="/biz/usersInfoChkForm" method="POST">
			      		<input type="submit" value="계정정보 변경" name="userAction">
			      		<input type="submit" value="계정 양도" name="userAction">
			      		<input type="submit" value="회원 탈퇴" name="userAction">
			      	</form>
				  </div>
			    </div>
			  </div>
		</div>
		
	<div class="myAccoms">
		<div class="miniTitle">
			<label >내 업체 관리</label>
		</div>
	<table class="responsive-table">
	    <thead>
	      <tr>
	         <th scope="col">업체명</th>
	        <th scope="col">업체코드</th>
	        <th scope="col">유형</th>
	        <th scope="col">주소</th>
	        <th scope="col">대표번호</th>
	        <th scope="col">객실 수</th>
	        <th scope="col">상태</th>
	        <th scope="col">관리</th>
	      </tr>
	    </thead>
	    
	    <tbody th:each="accoms : ${accomList}" class="accomsList">
	    <form action="accomMngChk" method="POST">
		      <tr>
		        <th scope="row" th:text="${accoms.biz_name}">
		        </th>
		        <td data-title="biz_id">
		        	<input type="text" 	 id="biz_id"   name = "biz_id" 	th:value="${accoms.biz_id}" readonly="readonly">
		        </td>
		        <td data-title="Studio">
					<span th:switch="${accoms.accom_type}">
					    <span th:case="'999'">기타</span>
					    <span th:case="'511'">호텔(biz)</span>
					    <span th:case="'513'">호텔(3성)</span>
					    <span th:case="'514'">호텔(4성)</span>
					    <span th:case="'515'">호텔(5성)</span>
					    <span th:case="'520'">모텔</span>
					    <span th:case="'530'">게스트하우스</span>
					    <span th:case="'540'">펜션</span>
					</span>
				</td>
		        <td data-title="addr" data-type="currency" th:text="${accoms.addr}"></td>
		        <td data-title="tel" data-type="currency" th:text="${accoms.tel}"></td>
		        <td data-title="room_count" data-type="currency" th:text="${accoms.room_count}"></td>
		        <td data-title="accom_avail" data-type="currency">
		        	
		        	<span th:switch="${accoms.accom_avail}">
					    <span th:case="'210'">사용가능</span>
					    <span th:case="'220'">숨김</span>
					    <span th:case="'230'">삭제</span>
					</span> 
		        </td>
		        <td data-title="Budget" data-type="currency">
		        			<input type="submit" name = "accomMngChk" value="상세확인">
							<input type="submit" name = "accomMngChk" value="수정">
							<input type="submit" name = "accomMngChk" value="삭제"></td>
		      </tr>
	      </form>
	    </tbody>
	 </table>
	 
	<form action="/biz/accomInsertForm" method="POST">
		<input type="hidden" id="biz_id" name="biz_id" th:value="${accom.biz_id}">
		<div class="d-grid gap-2">
			<button class="btn btn-outline-primary" type="submit">업체 등록하기</button>
		</div>
	</form>
	</div>
	</div>
</body>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</html>