<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<body>
<script th:inline="javascript">
	function bizAccomCall() {
		
		alert("bizAccomCall");
		var str = "";
		var str2 = "";
		var userid = /*[[${user_id}]]*/ 'default-value';
		
		$.ajax(
				{
				    url: "/biz/accomMng",
				    dataType: "json",
				    type: "GET",
				    success: function(accomList) {
				    	var userid = userid;
				    	var accomListRead = JSON.stringify(accomList);
				    	if (!accomList) {
				    		accomList = [];
				    	} else {
				    		userid = accomListRead[0].user_id;
				    	}
						
						alert("accomList -> "+accomListRead);
						
						$('#content').append(accomList)
						$('#goodslists').empty();
						$(accomList).each(
								function(){
									str2 = "<form action=\"accomMngChk\" method=\"POST\"><div value ='"+this.biz_id+"'>업체명 : "+this.biz_name	
									+"<input type=\"hidden\" name=\"biz_id\" value='"+this.biz_id+"'>"
									+"<input type=\"hidden\" name=\"user_id\" value='"+this.user_id+"'>"
									+"<input type=\"submit\" name=\"accomMngChk\" value=\"상세확인\">"
									+"<input type=\"submit\" name=\"accomMngChk\" value=\"수정\">"
									+"<input type=\"submit\" name=\"accomMngChk\" value=\"삭제\"></form></div>";
									str += str2;
								}
							)
							alert("str -> "+str);
							str += "<form action=\"/biz/accomInsertForm\" method=\"POST\"><div class=\"d-grid gap-2\">"
								  +"<input type=\"hidden\" name=\"user_id\" value='"+userid+"'>"
								  +"<button class=\"btn btn-outline-primary\" type=\"submit\">업체 등록하기</button></div></form>";
							$('#goodslists').append(str);		
				    }, error: function(xhr, status, error) {}
			}
		);
	} 	
	function bizRoomCall() {
		alert("bizRoomCall");
		var str = "";
		var str2 = "";
		
		$.ajax(
				{
					url: "/biz/roomMng",
					dataType: "json",
					type: "GET",
					data: {user_id : "hy@aa.a"},
					success: function(roomList) {
						var userid = "";
						var roomListRead = JSON.stringify(roomList);
						if (!roomList) {
							roomList = [];
				    		userid = "hy@aa.a"
				    	} else {
				    		userid = roomListRead[0].user_id
				    	}
						
						alert("roomList -> "+roomListRead);
						$('#content').append(roomList);
						$('#goodslists').empty();
						$(roomList).each(	
							function(){
								str2 = "<form action=\"roomMngChk\" method=\"POST\"><div value = '"+this.r_name+"'>"+this.biz_name+"   "+this.r_name
								+"<input type=\"hidden\" name=\"biz_id\" value='"+this.biz_id+"'>"
								+"<input type=\"hidden\" name=\"r_id\" value='"+this.r_id+"'>"
								+"<input type=\"hidden\" name=\"user_id\" value='"+this.user_id+"'>"
								+"<input type=\"submit\" name=\"roomMngChk\" value=\"상세확인\">"
								+"<input type=\"submit\" name=\"roomMngChk\" value=\"수정\">"
								+"<input type=\"submit\" name=\"roomMngChk\" value=\"삭제\"></form></div>";
								str += str2;
							}		
						)
						alert("str -> "+str);
						str += "<form action=\"/biz/roomInsertForm\" method=\"POST\"><div class=\"d-grid gap-2\">"
						      +"<input type=\"hidden\" name=\"user_id\" value='"+userid+"'>"
							  +"<button class=\"btn btn-outline-primary\" type=\"submit\">객실 등록하기</button></div></form>";
						$('#goodslists').append(str);	 
					},  error: function(xhr, status, error) {}
				}
			);
	}
</script>
	</th:block>
		<div class="accordion accordion-flush" id="accordionFlushExample" style="width: 200px">
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="flush-headingOne">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
			        	업체 및 객실관리
			      </button>
			    </h2>
			    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
			      <div class="accordion-body">
						<a href="#" onclick="bizAccomCall()">업체관리</a><br>
						<a href="#" onclick="bizRoomCall()">객실관리</a><br>
				  </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="flush-headingTwo">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
			        	리뷰 및 예약관리
			      </button>
			    </h2>
			    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
			      <div class="accordion-body">
			       		<a href="/biz/review">리뷰관리</a><br>
			       		예약관리<br>
				  </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="flush-headingThree">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
			        	계정관리
			      </button>
			    </h2>
			    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
			      <div class="accordion-body">
			      	<form action="/biz/usersInfoChkForm" method="POST">
			      		<input type="submit" value="계정정보 변경" name="userAction">
			      		<input type="submit" value="계정 양도" name="userAction">
			      		<input type="submit" value="회원 탈퇴" name="userAction">
			      	</form>
				  </div>
			    </div>
			  </div>
		</div>
		
		<div id="content" class="content" style="float: right">
			<div id="goodslists">	
			</div>
		</div>
</body>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</html>