<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<script type="text/javascript">
	function goBack() {
		var a = confirm("작성한 내용은 저장되지 않습니다. 사업자 메인 페이지로 이동합니다.")
		if (a) window.location.href = "/biz/rooms";
		else return false;
	}
	
</script>
<body>
	<h4>객실정보 수정</h4>
		<form action="/biz/roomUpdate" method="POST">
			<input type="hidden" id="biz_id" name="biz_id" th:value="${room.biz_id}">
			<input type="hidden" id="r_id" name="r_id" th:value="${room.r_id}">
			<div class="mb-3 row">
			    <label for="biz_name" class="col-sm-2 col-form-label">업체명</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control-plaintext" id="biz_name" name="biz_name" th:value="${room.biz_name}">
			    </div>
			 </div>
			 <div class="mb-3 row">
			    <label for="r_name" class="col-sm-2 col-form-label">객실명</label>
			    <div class="col-sm-10">
			      <input type="text"  class="form-control-plaintext" id="r_name" name="r_name" th:value="${room.r_name}">
			    </div>
			 </div>
			 <div class="mb-3 row">
			    <label for="r_price" class="col-sm-2 col-form-label">요금</label>
			    <div class="col-sm-10">
			      <input type="number"  class="form-control-plaintext" id="r_price" name="r_price" th:value="${room.r_price}">
			    </div>
			 </div>
			 <div class="mb-3 row">
			    <label for="r_capacity" class="col-sm-2 col-form-label">수용인원</label>
			    <div class="col-sm-10">
			      <input type="number"  class="form-control-plaintext" id="r_capacity" name="r_capacity" th:value="${room.r_capacity}">
			    </div>
			 </div>
			 <div class="mb-3 row">
			    <label for="r_count" class="col-sm-2 col-form-label">객실 내 방 수</label>
			    <div class="col-sm-10">
			      <input type="number"  class="form-control-plaintext" id="r_count" name="r_count" th:value="${room.r_count}">
			    </div>
			 </div>
			 <div class="mb-3 row">
			    <label for="bath_count" class="col-sm-2 col-form-label">객실 내 욕실 수</label>
			    <div class="col-sm-10">
			      <input type="number"  class="form-control-plaintext" id="bath_count" name="bath_count" th:value="${room.bath_count}">
			    </div>
			 </div>
			<label for="bed_type">
			<select id="bed_type" name="bed_type">
					<option value="300">침대 없음</option>
					<option value="310" selected="selected">싱글</option>
					<option value="320">트윈</option>
					<option value="330">더블</option>
				</select>
				배드타입
			</label><br>
			<div>
				<h6>객실 옵션</h6>
					<input type="checkbox" name="hasBath" id="hasBath" checked>
					<label for="hasBath">욕조</label><br>
					<input type="checkbox" name="hasWifi" id="hasWifi" checked>
					<label for="hasWifi">WIFI</label><br>
					<input type="checkbox" name="hasAc" id="hasAc" checked>
					<label for="hasAc">에어컨</label><br>
					<input type="checkbox" name="hasTv" id="hasTv" checked>
					<label for="hasTv">TV</label><br>
			</div><br>
			   
				  <div class="roomImgs" th:each="room_img : ${riList}">
						
						<input type="text" readonly th:value="${room_img.r_img}">
						<img th:src="@{/img/room/{img}(img=${room_img.r_img})}"
							class="img-thumbnail" onerror="this.style.display='none';">
				  </div><br>
				  
				<h6>객실 소개</h6>
				<label for="r_info">
				<textarea rows="10" cols="100" id="r_info" name="r_info" th:text="${room.r_info}" ></textarea>
				</label><br>
				<button type="submit" name="roomUpdateChk" value="완료">완료</button>
				<button type="submit" name="roomUpdateChk" value="이미지재등록" onclick="return confirm('이미지를 재등록하시겠습니까? 기존 이미지는 삭제됩니다.')">이미지 재등록</button>
				<input type="button" onclick="return goBack()" value="메인으로">
		</form>
</body>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</html>