<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="ko"> <!-- 필수,지우면X -->
<th:block th:fragment="headerFragment">
    <head>
        <title>Board List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
                rel="stylesheet"
                integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
                crossorigin="anonymous">
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"
             style="font-weight: bold; font-size: 20px; margin: 10px; padding-bottom: 10px; ">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"
                   style="font-style: HanSans; font-weight: bolder; font-size: 35px; color: rgb(0, 183, 247); margin-left: 50px;">SukBak</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"> <!-- 필수,지우면X -->
                            <a sec:authorize="!isAuthenticated()"
                               class="nav-link active"
                               style="color: rgb(0, 183, 247);"
                               aria-current="page"
                               href="/login">로그인</a>
                            <a sec:authorize="isAuthenticated()"
                               class="nav-link active"
                               style="color: rgb(0, 183, 247);"
                               aria-current="page"
                               href="/logout">로그아웃</a>  <!-- 필수,지우면X -->
                        </li>
                        <li class="nav-item"><a style="color: rgb(0, 183, 247);"
                                                class="nav-link" href="/cgProductLists?accom-type=520">상세숙소</a></li>
                        <li class="nav-item dropdown"><a
                                style="color: rgb(0, 183, 247);" class="nav-link dropdown-toggle"
                                href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"> 더보기 </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown"
                                style="text-align: center; border-radius: 15px; ">
                                <li style="margin: 0;"><a style="font-weight: bold; color: rgb(0, 183, 247);"
                                                          class="dropdown-item" href="#">공지사항<br>약관 및 정책
                                </a>
                                    <hr style="margin: 0;"/>
                                </li>
                                <li style="margin: 0;"><a style="font-weight: bold; color: rgb(0, 183, 247);"
                                                          class="dropdown-item" href="#">자주 묻는 질문</a>
                                    <hr style="margin: 0;"/>
                                </li>
                                <li style="margin: 0;"><a style="font-weight: bold; color: rgb(0, 183, 247);"
                                                          class="dropdown-item" href="#">1대1문의<br>불만접수
                                </a>
                                    <hr style="margin: 0;"/>
                                </li>
                                <li style="margin: 0;"><a style="font-weight: bold; color: rgb(0, 183, 247);"
                                                          class="dropdown-item" href="#">이벤트</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a style="color: rgb(0, 183, 247);"
                                                class="nav-link disabled" href="#" tabindex="-1"
                                                aria-disabled="true">행복한여행 </a></li>
                    </ul>
                    <form class="d-flex">
                        <input style=" width: auto; border-radius: 20px; text-align: left;"
                               class="form-control me-2" type="search" placeholder="주소 및 업소명"
                               aria-label="Search">
                        <button
                                style=" margin-left: 25px; margin-right: 35px; font-weight: bolder; font-size: 20px; border-radius: 215px; width: 100px; border-color: rgb(0, 183, 247); border: 1; color: rgb(0, 183, 247); text-align: center;"
                                class="btn" type="submit">검색
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <hr/>
</body>
</th:block>
</html>