<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<head>
 <link rel="stylesheet" href="/css/lcg/sellerReviewMgt.css">
</head>
<body>
<div class = "container">
	<th:block layout:fragment="content"></th:block>
		
			<div class="accordion accordion-flush" id="accordionFlushExample" style="width: 200px">
				  <div class="accordion-item">
				    <h2 class="accordion-header" id="flush-headingOne">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
				        	업체 및 객실관리
				      </button>
				    </h2>
				    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
				      <div class="accordion-body">
							<a href="/biz/bizMain">업체관리</a><br>
							<a href="/biz/rooms" >객실관리</a><br>
					  </div>
				    </div>
				  </div>
				  <div class="accordion-item">
				    <h2 class="accordion-header" id="flush-headingTwo">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
				        	리뷰 및 예약관리
				      </button>
				    </h2>
				    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
				      <div class="accordion-body">
				       		<a href="/biz/review">리뷰관리</a><br>
				       		<!-- 예약관리<br> 미구현-->
					  </div>
				    </div>
				  </div>
				  <div class="accordion-item">
				    <h2 class="accordion-header" id="flush-headingThree">
				      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
				        	계정관리
				      </button>
				    </h2>
				    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
				      <div class="accordion-body">
				      	<!-- <a href="/biz/usersInfoChkForm?userAction=계정정보 변경">계정정보 변경</a><br>
				      	<a href="/biz/usersInfoChkForm?userAction=계정 양도">계정 양도</a><br>
				      	<a href="/biz/usersInfoChkForm?userAction=회원 탈퇴">회원 탈퇴</a><br> 사용안함-->
				      	 <a href="/biz/bizProfile">프로필 수정</a>
				      	
					  </div>
				    </div>
				  </div>
			</div>
		

	  <div class = "myAccomReview">
		<div class="miniTitle">
			<label >내 숙소 관리</label>
		</div>
		<table class="responsive-table">
		    <thead>
		      <tr>
		        <th scope="col" style="text-align: center;">업체명</th>
		        <th scope="col">사업자번호</th>
		        <th scope="col">위치</th>
		        <th scope="col">최저가</th>
		        <th scope="col">평점</th>
		        <th scope="col">별점</th>
		      </tr>
		    </thead>
		    <tbody th:each="myAccoms : ${myAccoms}">
		      <tr>
		        <th scope="row" style="text-align: center;">
		        	<a id="reviewDetailBtn" th:href="@{'/biz/reviewDetail?biz_id=' + ${myAccoms.biz_id}}" >
		        		<span th:text="${myAccoms.biz_name}" ></span>
		        	</a>
		        </th>
		        <td data-title="사업자번호" th:text="${myAccoms.biz_id}"></td>
		        <td data-title="주소" th:text="${myAccoms.addr}"></td>
		        <td data-title="최저가" th:text="${myAccoms.min_price_r2}+원"></td>
		        <td data-title="평점" data-type="currency" th:text="${myAccoms.avg_rating}+'/5'" style="text-align: center;"></td>
		        <td data-title="별점" data-type="currency" style="text-align: center;">
		        	<span th:each = "i : ${#numbers.sequence(1, myAccoms.avg_rating)}">
						<i><img th:src="@{/img/cgStar.png}" width="15" height="15"></i>
					</span>
		        </td>
		      </tr>
		    </tbody>
  		</table>
		<div class = "listEmpty" th:if="${myAccoms.size()==0}">
			<img alt="" src="/img/penguin_oops.png">
			<h4><label class ="emptyNotice">등록된 업체가 없습니다.</label></h4>
			<h5><label class ="emptyNotice">업체 등록 후 이용해주세요</label></h5>
		</div>
  	</div>
 </div>
</body>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</html>