.container{
		max-width: 100%;

	}  
	.contents{
		float: right; 
		width: 60%; 
		margin:auto;
		margin-right: 13%; 
	
	}
	.ul_reviewContents{
		list-style-type: none;
	}
	.reviewContent{
		border: black solid 1px;
	}
	.review_imgs{
		width: 50px;
		height: 50px;
	}
	
	.accomReview {
		border: 1px solid black;
		margin-bottom: 10px;
	}
	
	.accomReviewRoomImg{
		white-space:nowrap;
		overflow:auto;
		margin-left: 12px;
	}
	
	.accomReviewRoomImg img{
		width: 200px;
		height: 200px;
		padding: 0.25rem;
	}
	.accomReviewRating{
		margin-bottom: 5px;
		margin-left: 12px;
	}
	.accomReviewRating img{
		width: 20px;

	}
	.accomReviewNicknameAndDate, .accomReviewRoomName, .accomReviewRoomContent{
		margin-left: 12px;
	}
	#menuTitle{
		font-weight: bold;
		font-size: 25pt;
	}
	/* 아코디언 css  */
		#accordionFlushExample{
		width: 250px;
		display: inline-block;
		float: left; 
		margin-top: 20px;

	
	}
	/* 모달 css  */
	.modal-dialog {
	  max-width: 900px;
	}
	.modal-body textarea {
	  display: block;
	  margin: 0 auto;
	}

	#modal-notice{
	  text-align: center;
	  color: red;
	  font-size: 10pt;
	}
	#staticBackdropLabel{
		margin-left: auto;
	}
	#modalOpenBtn, #modalDoneBtn{
		float: right;
	}
	#ReviewContentline{
		border: none;
		border-top: 2px solid black;
	}
	#reviewBizName{
		font-size: 14pt;
		font-weight: bold;
	
	}
	.reviewTop_sort{
		margin-bottom: 10px;
		text-align: right;
	}

	.modalWordCount{
		text-align: right;
		margin-right: 50px;
		color: red;
	}
	
	.listEmpty{
	
	text-align: center;
	color: #00B7F7;
	}
	.listEmpty img{
		width: 300px;
		height: 300px;
		margin-bottom: 50px;
	}
	.emptyNotice{
		font-weight: bold;
	}
	#deleteRefuseBtn{
		width: 100%;
		margin: auto;
		background-color: red;
	}