@charset "UTF-8";

	.title {
	padding-left: 180px; 
	padding-bottom: 5px;
	}
	
	.searchForm {
	padding-left: 180px;
	}
	
	.select {
	color: rgb(0, 183, 247); 
	font-size: 18px; 
	border: none;
	}
	
	#select {
	color: rgb(0, 183, 247); 
	font-size: 18px; 
	border: none;
	}
	
	.searchinput {
	width: auto; 
	border-radius: 20px; 
	font-size: 18px; 
	padding-left: 14px;
	}
	
	.searchbutton {
	 margin-left: 25px; 
	 margin-right: 35px; 
	 font-weight: bolder; 
	 font-size: 20px; 
     border-radius: 215px; 
     width: 100px; 
     border-color: rgb(0, 183, 247); 
     border: 1; 
     color: rgb(0, 183, 247); 
     text-align: center; 
     background-color: #ffffff
	}
	
	.col-4 {
	text-align: center; 
	width: 180px; 
	height: auto;
	}
	
	.mb-3 row {
	padding-left: 50px;
	}
	
	# staticDelReason {
		width: 50px;
	}
	
	
	
	